<div id="page-title">
	Save a video
</div>
<form id="video-form" method="POST" action="/videos">
	<div>
		<label for="video-title">Title</label>
		<br />
		<input type="text" id="video-title" name="title" />
	</div>
	<div>
		<label for="video-description">Description</label>
		<br />
		<input type="text" id="video-description" name="description" />
	</div>
	<div>
		<input type="submit" id="video-submit" value="Submit Video" />
	</div>
</form>