<div id="page-title">
	Save a video
</div>
<form id="video-form" method="POST" action="/videos">
	<div>
		<label for="video-title">Title</label>
		<br />
		<input type="text" id="video-title" name="title" value="{{video.title}}" />
		{{#with video.errors.title as |error|}}
        	<span class="error">{{error.message}}</span>
        {{/with}}
	</div>
	<div>
		<label for="video-description">Description</label>
		<br />
		<textarea id="video-description" name="description">
			{{video.description}}
		</textarea>
	</div>
	<div>
		<input type="submit" id="video-submit" value="Submit Video" />
	</div>
</form>